<div *ngIf="isLoading" class="loading">Cargando eventos deportivos...</div>

<app-sport-filter (filterChange)="onFilterChange($event)"></app-sport-filter>

<div *ngIf="!isLoading && filteredEvents.length > 0" class="table-container">
  <table>
    <thead>
      <tr>
        <th>Evento</th>
        <th>Fecha</th>
        <th>Local</th>
        <th>Visitante</th>
        <th>Cuotas (1 - X - 2)</th>
        <th>Apuesta</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let event of filteredEvents">
        <td>{{ event.sportEventName?.es }}</td>
        <td>{{ event.scheduled | date : "medium" }}</td>
        <td>{{ event.competitorHome?.competitorName?.es }}</td>
        <td>{{ event.competitorAway?.competitorName?.es }}</td>
        <td>
          <ng-container
            *ngIf="event.markets?.[0]?.marketLines?.[0]?.outcomes as outcomes"
          >
            <span *ngFor="let o of outcomes" class="outcome-option">
              <input
                type="radio"
                name="outcome_{{ event.eventId }}"
                [value]="o"
                (change)="selectEventForBet(event.eventId); selectOutcome(o)"
                [checked]="
                  event.eventId === selectedEventId && selectedOutcome === o
                "
              />
              {{ o.outcomeName.es }} ({{ o.odds }})
            </span>
          </ng-container>
        </td>
        <td *ngIf="event.eventId === selectedEventId">
          <div class="bet-input">
            <input
              type="number"
              placeholder="Monto"
              [(ngModel)]="betAmount"
              min="1"
              step="0.01"
            />
            <button (click)="addBet(event)">Agregar Apuesta</button>
          </div>
        </td>
        <td *ngIf="event.eventId !== selectedEventId">
          <button (click)="selectEventForBet(event.eventId)">
            Seleccionar
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div *ngIf="!isLoading && filteredEvents.length === 0" class="no-events">
  No hay eventos disponibles.
</div>

<app-bet-slip [bets]="selectedBets"></app-bet-slip>
