table {
    border: 1px solid #ddd;
    border-collapse: collapse;
    font-size: 1rem;
    background-color: #fff;
  }
  
  th,
  td {
    border: 1px solid #ddd;
    padding: 0.5rem;
    text-align: center;
    vertical-align: middle;
  }
  
  th {
    background-color: #28a745;
    color: white;
    font-weight: bold;
  }
  
  tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  tr:hover {
    background-color: #f1f1f1;
  }
  